.movie-list {
  padding: 3rem 4rem;
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  padding-top: 10rem;
}

.movie-list__item {
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  overflow: hidden;
  max-width: 450px;
}

.movie-list__item .image__container img {
  max-height: 400px;
}

.description__container {
  padding: 1rem;
}

.description__container h5 {
  margin-bottom: 0.5rem;
}

.description__container button {
  width: 100%;
  padding-block: 0.75rem;
  border: none;
  font-weight: 600;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  font-size: 1.6rem;
  background-color: hsl(var(--highlight), 0.8);
  margin-block: 1rem;
  margin-inline: 0;
  cursor: pointer;
  transition: var(--main-transition);
}

.description__container button:hover {
  background-color: hsl(var(--highlight));
}

@media screen and (min-width: 768px) {
  .movie-list__item {
    max-width: 650px;
    display: flex;
  }

  .movie-list__item .image__container {
    flex: 1;
  }

  .description__container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }
}

@media screen and (min-width: 1350px) {
  .movie-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    max-width: var(--max-width);
    margin: 0 auto;
  }
}
