.outline-btn {
  letter-spacing: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-inline: 0.5rem;
  transition: var(--main-transition);
  cursor: pointer;
  background-color: hsl(var(--highlight), 0.2);
  border: 1px solid hsl(var(--highlight));
  border-radius: var(--radius);
  font-weight: bold;
}

.outline-btn svg {
  margin-left: 0.5rem;
}

.outline-btn.active {
  font-weight: 600;
}

.outline-btn:hover {
  background-color: hsl(var(--highlight));
}
