.nav__container {
  width: 100%;
  background-color: hsl(var(--primary), 0.9);
  box-shadow: var(--dark-shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-inline: 2rem;
}

.nav a {
  color: hsl(var(--white));
}

.nav__logo {
  font-size: 2.5rem;
  letter-spacing: var(--spacing);
}

.nav__icons {
  display: flex;
  align-items: center;
}

.nav__icons a {
  padding: 1rem;
  margin-inline: 0.5rem;
  transition: var(--main-transition);
  display: flex;
  align-items: center;
  position: relative;
}

.nav__icons a:hover {
  color: hsl(var(--highlight));
}

.nav__icons a > svg {
  font-size: 2.5rem;
}

.nav__icons a > span {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: white;
  color: hsl(var(--primary));
  padding-inline: 0.6rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-inline: 4rem;
  }

  .nav__icons a {
    padding: 1.5rem 3rem;
  }

  .nav__icons a > span {
    top: 0;
    right: 18px;
  }
}
