.user-dropdown {
  position: relative;
  margin-inline: 1.5rem;
}

.user-dropdown__person {
  position: relative;
  cursor: pointer;
}

.user-dropdown__person > img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.user-dropdown__person .user-dropdown__icon {
  position: absolute;
  top: 30px;
  right: -20px;
  margin-left: 1.5rem;
  color: hsl(var(--highlight), 0.5);
  transition: var(--main-transition);
}

.user-dropdown__person .user-dropdown__icon:hover {
  color: hsl(var(--highlight));
}

.user-dropdown__person:hover .user-dropdown__icon {
  color: hsl(var(--highlight));
}

.user-dropdown__person .user-dropdown__icon.active {
  color: hsl(var(--hightlight));
}

.dropdown-list__container {
  display: none;
}

.dropdown-list__container.drop {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--white));
  box-shadow: var(--dark-shadow);
  z-index: 999;
  position: absolute;
  right: -10px;
  top: 55px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.dropdown-list__container li a {
  color: hsl(var(--primary));
  margin: 0;
  padding: 0;
  letter-spacing: var(--spacing);
  font-weight: bold;
}

.dropdown-list__container li {
  padding: 1rem 3rem;
}
