.search__container {
  background-color: white;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-inline: 4rem;
  border-radius: var(--radius);
}

.search__label {
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  padding-left: 2rem;
  font-size: 2rem;
  outline: none;
  border: none;
}

.search__input::placeholder {
  opacity: 0.5;
}

.search__container button {
  background-color: transparent;
  font-weight: 600;
  display: flex;
  height: 8rem;
  padding-inline: 0.5rem;
  margin-inline: 0;
}

.search__icon {
  margin-right: 2rem;
}

.search__container button:hover {
  background-color: hsl(var(--highlight), 0.4);
}

@media screen and (min-width: 768px) {
  .search__label {
    padding-left: 5vw;
  }

  .search__container button {
    padding-inline: 7rem;
  }
}

@media screen and (min-width: 1170px) {
  .search__label {
    padding-left: 10vw;
  }
}
